extends layout

block content
  form(id="order" action="order", method="post")
    input(name="content", type="text")
    select(name="location")
      for key in routingKeys
        option #{key}
    input(type="submit" value="Send!")
      
  script(src="/js/index.js")
